# Godot 4+ specific ignores
.godot/

# Mono Ignores
.mono/
data_*/


# Documentation ignores
Documentation/*.html
Documentation/requirements/parta+2.pdf
Documentation/requirements/partb.pdf
Documentation/*Documentation.pdf
Documentation/requirements*
*.aux
*.fls
Documentation/*.log
Documentation/*.pdf
*.synctex*



# Build system build artifacts
.sconsign.dblite
Server/Nuget-Source
Documentation/_minted-main/
Server/AZ-1S/export/
Client/export/
